<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kw_support" >

    <uses-permission android:name="android.permission.BLUETOOTH" />


    <meta-data
        android:name="com.kw_support.utils.KwGlideModule"
        android:value="GlideModule"/>
</manifest>
